$blue: rgba(53, 171, 169, 0.7);
$blue-solid: rgba(53, 171, 169, 1);
$orange: rgba(234, 142, 72, 0.7);
$orange-solid: rgba(234, 142, 72, 1);

html {
  font-family: "Public Sans";
}

.center {
  display: flex;
  justify-content: center;
}

footer {
  font-size: 0.75rem;
}

h1 {
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
}

circle {
  &.blue {
    fill: $blue-solid;
  }

  &.orange {
    fill: $orange-solid;
  }
}

line {
  stroke-width: 0.7;

  &.blue {
    stroke: $blue;
  }

  &.orange {
    stroke: $orange;
  }
}

#custom-bar {
  display: flex;
  justify-content: space-around;

  h3 {
    text-transform: capitalize;
  }
}