$blue-translucent: rgba(53, 171, 169, 0.4);
$blue: rgba(53, 171, 169, 1);
$orange-translucent: rgba(234, 142, 72, 0.4);
$orange: rgba(234, 142, 72, 1);
$grey-translucent: rgba(40, 40, 40, 0.4);

html {
  font-family: "Public Sans";
}

.center {
  display: flex;
  justify-content: center;
}

#ice-hockey-svg {
  max-height: 80vh;
}

footer {
  font-size: 0.75rem;
}

h1 {
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
}

circle {
  &.blue {
    fill: $blue;
  }

  &.orange {
    fill: $orange;
  }
}

.stick {
  stroke-width: 0.3;
  stroke: #444;
  fill: transparent;
}

.stick-head {
  stroke-width: 0.5;
  stroke: #ccc;
  fill: transparent;
}

.dot-text {
  fill: white;
  font-size: 0.25rem;
  font-weight: bold;
}

.layout {
  display: grid;
  grid-template-columns: 30% 70%;
}

line {
  stroke-width: 0.7;

  &.blue {
    stroke: $blue-translucent;
  }

  &.orange {
    stroke: $orange-translucent;
  }

  &.overall {
    stroke: $grey-translucent;
  }
}

#custom-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border: 2px black solid;

  * {
    min-width: 40%;
    max-width: 80%;
  }

  h3 {
    text-transform: capitalize;
    text-decoration: underline;

    &.blue {
      text-decoration-color: $blue;
    }

    &.orange {
      text-decoration-color: $orange;
    }
  }

  select {
    font-family: "Public Sans";
    margin-left: 0.5rem;
  }

  label {
    font-weight: 600;
  }
}
@media only screen and (max-width: 600px) {
  .layout {
    display: block;
  }

  .center {
    display: block;
  }

  #ice-hockey-svg {
    width: 90vw;
    touch-action: none;
  }

  #custom-bar {
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
  }
}